<link rel="stylesheet" href="styles/common.css"/>

<!-- Add your site or application content here -->
<header class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">
        <img src="images/HPE_logo.png" />
      </a>
    </div>
    <div class="collapse navbar-collapse" id="js-navbar-collapse">
      <ul class="nav navbar-nav header-title">
        <li>
          <a href="#/">Home</a>
        </li>
        <li>
          <a ng-href="#/promo">No-Touch Management</a>
        </li>
        <li>
          <a ng-href="#/approval">No-Touch Approval</a>
        </li>
        <li>
          <a ng-href="#/">About</a>
        </li>        
      </ul>
      <ul class="nav navbar-nav navbar-nav-right">
        <li>
          <a href="#" title=""> <i class="fa fa-user"></i>
            <span>Jason Zhang(Administrator)</span>
          </a>
        </li>
        <li>
          <a href="#" title=""> <i class="fa fa-sign-out"></i>
            Log Out
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
<main class="page-content">
  <section class="container-fulid main-banner">
    <div class="content-wrapper">
      <div class="content">
        <h1 class="title">Net contra accelerate revenue and gross profit growth</h1>
        <div class="description">
          <p>Optimize how HP invests contra within/across geographies & categories to maximize ROI</p>
        </div>
        <span class="buttonCTAItemComponent parbase section">
          <div class="mtop10">
            <a href="#" target="_self" role="button" class="btn text-uppercase btn-primary alpha">Learn More</a>
          </div>
        </span>
      </div>
    </div>
    <div class="mask-overlay"></div>
    <div class="background-wrapper">
      <div class="img-container img-container-9-6-to-26-9 img-wrapper img-container-loaded">
        <img src="images/temp/image-2x-md.jpg" class="img-responsive" />
      </div>
    </div>
  </section>

  <section class="container-fulid main-data-center">
    <div class="text-content-wrap">
      <h2>Contra Program Objectives</h2>
      <p>
        Improve net contra productivity to accelerate revenue and gross profit growth.
      </p>
    </div>

    <div class="mtop10">
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <img src="images/temp/l1.png" class="img-responsive" />
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6">
        <ul>
          <li><em class="icon-arrow-circle-right cta-icon"></em>Optimize how HP invests contra within/across geographies & categories to maximize ROI</li>
          <li><em class="icon-arrow-circle-right cta-icon"></em>Provide contra decision makers with timely analytics & tools to make trade-offs</li>
          <li><em class="icon-arrow-circle-right cta-icon"></em>Develop a robust operating system (i.e., metrics, dashboards, analytics)</li>
          <li><em class="icon-arrow-circle-right cta-icon"></em>Simplify processes - make it easier for customers and partners to grow with HPE</li>
          <li><em class="icon-arrow-circle-right cta-icon"></em>Define and transition to a simpler future state process & systems architecture</li>
          <li><em class="icon-arrow-circle-right cta-icon"></em>Structure contra compliance & auditing processes to minimize contra leakage</li>
        </ul>
      </div>
    </div>   
  </section>

  <section class="container-fulid main-data-center">
    <div class="text-content-wrap">
      <h2>Contra Program Dashboard</h2>
      <p>
        Promo Discounting & ROI Decision support tool
      </p>
    </div>

    <div class="row text-center mtop10">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="col-md-2">
          <label>Budgeting & Planning</label>
          
          <img src="images/temp/chart5.png" class="img-responsive" />
          <p>Setup region & BU financial plan</p>
        </div>
        <div class="col-md-2">
          <label>Contra Performance</label>
          
          <img src="images/temp/chart3.png" class="img-responsive" />
          <p>Review historical HPE financial performance</p>
        </div>
        <div class="col-md-2">
          <label>Competitive Pricing</label>
          
          <img src="images/temp/chart1.png" class="img-responsive" />
          <p>Review market pricing & volume comparison</p>
        </div>
        <div class="col-md-2">
          <label>ROI Analysis</label>
          
          <img src="images/temp/chart6.png" class="img-responsive" />
          <p>Conduct volume forecasting & margin analysis</p>
        </div>
        <div class="col-md-2">
          <label>Execute Campaign</label>
          
          <img src="images/temp/chart2.png" class="img-responsive" />
          <p>Plan and execute promo campaigns</p>
        </div>
        <div class="col-md-2">
          <label>Weekly Tracking</label>
          <img src="images/temp/chart4.png" class="img-responsive" />
          <p>Review weekly sellout performance</p>
        </div>        
      </div>
      <div class="col-md-1"></div>
                            
    </div>
  </section>

<!--
  <section class="container-fulid hybrid-router">
    <div class="container-fluid container-gutter">
      <div class="row">
        <div class="col-sm-12">
          <div class="hybrid-router-header text-content-wrap">
            <h2>Contra Program Dashboard</h2>
            <p>
              Promo Discounting & ROI Decision support tool.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="hybrid-router-tiles style-bg-dark-steel">
            <a class="hybrid-router-tile" target="_self" href="#/">
              <div class="hybrid-router-tile-content">
                <div class="hybrid-router-mask"></div>
                <div class="hybrid-router-tile-image">
                  <div class="img-container img-container-9-6 img-container-loaded">
                    <img src="images/temp/chart5.png" />
                  </div>
                </div>
                <div class="hybrid-router-tile-copy">
                  <h3>Budgeting & Planning</h3>
                  <p class="body-copy-small">
                    Setup region & BU financial plan.
                  </p>
                  <span class="cta-link body-copy-small text-regular" aria-hidden="true"> <em class="icon-arrow-circle-right cta-icon"></em>
                    Learn More
                  </span>
                </div>
              </div>
            </a>
            <a class="hybrid-router-tile style-bg-purple" target="_self" href="#/">
              <div class="hybrid-router-tile-content">
                <div class="hybrid-router-mask"></div>
                <div class="hybrid-router-tile-image">
                  <div class="img-container img-container-9-6 img-container-loaded">
                    <img src="images/temp/chart3.png" />
                  </div>
                </div>
                <div class="hybrid-router-tile-copy">
                  <h3>Contra Performance</h3>
                  <p class="body-copy-small">Review historical HPE financial performance.</p>
                  <span class="cta-link body-copy-small text-regular" aria-hidden="true"> <em class="icon-arrow-circle-right cta-icon"></em>
                    Learn More
                  </span>
                </div>
              </div>
            </a>
            <a class="hybrid-router-tile style-bg-bronze" target="_self" href="#/">
              <div class="hybrid-router-tile-content">
                <div class="hybrid-router-mask"></div>
                <div class="hybrid-router-tile-image">
                  <div class="img-container img-container-9-6 img-container-loaded">
                    <img src="images/temp/chart1.png" />
                  </div>
                </div>
                <div class="hybrid-router-tile-copy">
                  <h3>Competitive Pricing</h3>
                  <p class="body-copy-small">Review market pricing & volume comparison.</p>
                  <span class="cta-link body-copy-small text-regular" aria-hidden="true"> <em class="icon-arrow-circle-right cta-icon"></em>
                    Learn More
                  </span>
                </div>
              </div>
            </a>
            <a class="hybrid-router-tile style-bg-slate" target="_self" href="#/">
              <div class="hybrid-router-tile-content">
                <div class="hybrid-router-mask"></div>
                <div class="hybrid-router-tile-image">
                  <div class="img-container img-container-9-6 img-container-loaded">
                    <img src="images/temp/chart6.png" />
                  </div>
                </div>
                <div class="hybrid-router-tile-copy">
                  <h3>ROI Analysis</h3>
                  <p class="body-copy-small">Conduct volume forecasting & margin analysis.</p>
                  <span class="cta-link body-copy-small text-regular" aria-hidden="true"> <em class="icon-arrow-circle-right cta-icon"></em>
                    Learn More
                  </span>
                </div>
              </div>
            </a>
            <a class="hybrid-router-tile style-bg-bronze" target="_self" href="#/">
              <div class="hybrid-router-tile-content">
                <div class="hybrid-router-mask"></div>
                <div class="hybrid-router-tile-image">
                  <div class="img-container img-container-9-6 img-container-loaded">
                    <img src="images/temp/chart2.png" />
                  </div>
                </div>
                <div class="hybrid-router-tile-copy">
                  <h3>Execute Campaign</h3>
                  <p class="body-copy-small">Plan and execute promo campaigns.</p>
                  <span class="cta-link body-copy-small text-regular" aria-hidden="true"> <em class="icon-arrow-circle-right cta-icon"></em>
                    Learn More
                  </span>
                </div>
              </div>
            </a>  
            <a class="hybrid-router-tile style-bg-dark-steel" target="_self" href="#/">
              <div class="hybrid-router-tile-content">
                <div class="hybrid-router-mask"></div>
                <div class="hybrid-router-tile-image">
                  <div class="img-container img-container-9-6 img-container-loaded">
                    <img src="images/temp/chart4.png" />
                  </div>
                </div>
                <div class="hybrid-router-tile-copy">
                  <h3>Weekly Tracking</h3>
                  <p class="body-copy-small">Review weekly sellout performance.</p>
                  <span class="cta-link body-copy-small text-regular" aria-hidden="true"> <em class="icon-arrow-circle-right cta-icon"></em>
                    Learn More
                  </span>
                </div>
              </div>
            </a>                                               
            

          </div>
        </div>
      </div>
    </div>
  </section>
-->
</main>
<footer>
  <p>
    <a href="#/" title="">Privacy Statement</a>
    |
    <a href="#/" title="">Terms of Use</a>
    <a href="#/" title="">Support</a>
    |
    <a href="#/" title="">Contra v1.0</a>
    |
    <a href="#/" title="">HP Enterprise Restricted</a>
  </p>
  <p>© Copyright 2016 Hewlett Packard Enterprise Development LP</p>
</footer>